.topnav {
    background-color: #192a56;
    overflow: hidden;
    opacity: 0.3;
}
.topnav:hover {
    opacity: 0.5;
}

.balance-navbar {
    float: right;
    text-align: center;
    padding: 14px 16px;
    background-color: green;
    color: #f2f2f2;
}
.positive {
    background-color: green;
}
.negative {
    background-color: red;
}
#bank-logo {
    width: 48px;
    float: right;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
