.Operations {
    width: 300px;
    height: 300px;
    background-color: #182c61;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
}

.Operations > input {
    margin: 13px;
    width: 260px;
    height: 25px;
    border-radius: 5px;
}

.Operations > button {
    margin: 15px;
    width: 100px;
    height: 30px;
    color: aliceblue;
    border-radius: 5px;
    border: 0;
}

.Operations > button:hover {
    color: black;
    background-color: aliceblue;
}

.deposit-button {
    background-color: #26de81;
}

.withdraw-button {
    background-color: #fc5c65;
}

.opertaions-title {
    color: aliceblue;
}
